{% extends 'users/base.html' %}
{% block body %}
<h1 class="text-2xl m-10">🧑 Register User </h1>

<div class="container py-5">
    <form method="post" class="bg-white shadow-md m-10 w-2/5 rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="id_email">Email</label>
            <input type="email" name="{{ user_form.email.name }}" id="id_email" 
                   class="shadow appearance-none border rounded py-2 px-3 w-full" 
                   value="{{ user_form.email.value|default:'' }}" 
                   placeholder="Enter your email">
        </div>
        
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="id_username">Username</label>
            <input type="text" name="{{ user_form.username.name }}" id="id_username" 
                   class="shadow appearance-none border rounded py-2 px-3 w-full" 
                   value="{{ user_form.username.value|default:'' }}" 
                   placeholder="Enter your username">
        </div>
        
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="id_first_name">First Name</label>
            <input type="text" name="{{ user_form.first_name.name }}" id="id_first_name" 
                   class="shadow appearance-none border rounded py-2 px-3 w-full" 
                   value="{{ user_form.first_name.value|default:'' }}" 
                   placeholder="Enter your first name">
        </div>
        
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="id_password">Password</label>
            <input type="password" name="{{ user_form.password.name }}" id="id_password" 
                   class="shadow appearance-none border rounded py-2 px-3 w-full" 
                   placeholder="Enter your password">
        </div>
        
        <div class="mb-2">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="id_password2">Confirm Password</label>
            <input type="password" name="{{ user_form.password2.name }}" id="id_password2" 
                   class="shadow appearance-none border rounded py-2 px-3 w-full" 
                   placeholder="Confirm your password">
        </div>
        
        <button class="text-white bg-green-500 px-5 py-2" type="submit">Register</button>
    </form>
</div>

{% endblock %}
